<%= form_for(solver) do |f| %>
<% if solver.errors.any? %>
  <div class="alert alert-danger">
      <% solver.errors.full_messages.each do |message| %>
        <%= message %>
      <% end %>
  </div>
<% end %>

<div class="ccfield-prepend">
  <span class="ccform-addon"><i class="fa fa-user fa-2x"></i></span>
  <%= f.text_field :username, class: :ccformfield, placeholder: "ニックネーム（必須）", required: true %>
</div>

<div class="ccfield-prepend">
<span class="ccform-addon"><i class="fa fa-envelope-o fa-2x"></i></span>
  <%= f.email_field :email, class: :ccformfield, placeholder: "メールアドレス（必須）", required: true %>
</div>

<div class="ccfield-prepend">
  <span class="ccform-addon"><i class="fa fa-code fa-2x"></i></span>
  <%= f.text_area :content %>
  <div id='editor'>
</div>

<div class="ccfield-prepend">
  <%= f.submit class: :ccbtn, value: '応募する', data: { disable_with: "送信中..." } %>
</div>
<% end %>
