<%= form_for(solver, html: {id: "form"}) do |f| %>
<% if flash[:error].present? %>
  <div class="alert alert-danger">
      <% flash[:error].each do |message| %>
        <%= message %>
      <% end %>
  </div>
<% end %>

<div class="ccfield-prepend">
  <span class="ccform-addon"><i class="fa fa-user fa-2x"></i></span>
  <%= f.text_field :username, class: :ccformfield, placeholder: "ニックネーム（必須）", value: flash[:username], required: true %>
</div>

<div class="ccfield-prepend">
<span class="ccform-addon"><i class="fa fa-envelope-o fa-2x"></i></span>
  <%= f.email_field :email, class: :ccformfield, placeholder: "メールアドレス（必須）", value: flash[:email], required: true %>
</div>

<div class="ccfield-prepend">
  <span class="ccform-addon"><i class="fa fa-division fa-2x"></i></span>

  <div class="ccformfield division_wrap">
    <%= f.label(:division) do %>
      <%= f.radio_button :division, Solver::DivisionVal[:general], :checked => "checked" %>一般
    <% end %>
    <%= f.label(:division) do %>
      <%= f.radio_button :division, Solver::DivisionVal[:student] %>学生
    <% end %>
  </div>

</div>

<div class="ccfield-prepend">
  <span class="ccform-addon"><i class="fa fa-code fa-2x"></i></span>
  <%= f.text_area :content %>
  <div id='editor'></div>
</div>

<div class="ccfield-prepend">
  <%= f.submit class: :ccbtn, value: '応募する', data: { disable_with: "送信中..." } %>
</div>

<% end %>
