<p id="notice"><%= notice %></p>

<h1>Solvers</h1>

<table>
  <thead>
    <tr>
      <th>Username</th>
      <th>Email</th>
      <th>Content</th>
      <th>Elapsed usec</th>
      <th>Nbytes</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @solvers.each do |solver| %>
      <tr>
        <td><%= solver.username %></td>
        <td><%= solver.email %></td>
        <td><%= solver.content %></td>
        <td><%= solver.elapsed_usec %></td>
        <td><%= solver.nbytes %></td>
        <td><%= link_to 'Show', solver %></td>
        <td><%= link_to 'Edit', edit_solver_path(solver) %></td>
        <td><%= link_to 'Destroy', solver, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Solver', new_solver_path %>
