
 <body>
  <div class="container">
    <div class="wrapper">
      <div class="ccheader">
        <%= image_tag("logo1.png") %>
        <%= image_tag("logo2.png") %>
      </div>
      <div class="orange">
        <p>解答を受け付けました。ご応募ありがとうございました！</p>
        <p>
          <strong>ニックネーム:</strong>
          <%= @solver.username %>
        </p>
         <p>
          <strong>正解数:</strong>
          <%= @collect_ansewer_count %>
        </p>
        <p>
          <strong>合計時間:</strong>
          <%= @total_time %>msec
        </p>
        <p>
          <strong>バイト数:</strong>
          <%= @solver.nbytes %>byte
        </p>
      </div>   
    </div>
  </div>
</body>