<body>
  <div class="container">
    <div class="wrapper">
      <div class="ccheader">
        <%= image_tag("logo1.png") %>
        <%= image_tag("logo2.png") %>
      </div>
      <div class="orange">
        <p>解答を受け付けました。ご応募ありがとうございました！</p>
        <p>
          <strong>ニックネーム:</strong>
          <%= @solver.username %>
        </p>
        <p>
          <strong>正解数:</strong>
          <span id="correct-answer-cnt">処理中...</span>
        </p>
        <p>
          <strong>合計時間:</strong>
          <span id="total-time">処理中...</span>
        </p>
        <p>
          <strong>バイト数:</strong>
          <span id="nbytes">処理中...</span>
        </p>
      </div>   
    </div>
  </div>
</body>

<%= javascript_tag do %>
$(document).ready(function(){
  reloadResults();
});

function reloadResults(){
  return $.ajax({
    url: <%= @solver.id %> + '.json',
    dataType:"json",
    success: function (data) {
      var solver = data.solver;
      if(solver.ended) {
        $('#correct-answer-cnt').text(solver.correct_answer_cnt);
        $('#total-time').text(solver.total_time + 'msec');
        $('#nbytes').text(solver.nbytes + 'bytes');
      } else {
        setTimeout("reloadResults()", 5000);
      }
    },
    error: function (jqXHR, textStatus, errorThrown) {
    }
  })
}
<% end %>
